---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import StructuredData from "@components/structured-data.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";
import "../styles/global.css";

export interface Props {
  title: string;
  description?: string;
  structuredData?: any;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title, description, structuredData } = Astro.props;

const makeTitle = title
  ? title + " | " + "JYDream"
  : "JYDream - Where Dreams Come True";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description={description || "JYDream helps bring your dreams to reality through comprehensive incubation support, mentorship, and resources for startups and entrepreneurs."}
      canonical={canonicalURL}
      twitter={{
        creator: "@jydream",
        site: "@jydream",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `JYDream - Where Dreams Come True`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "JYDream Homepage Screenshot",
        },
      }}
    />
    <StructuredData type="website" />
    {structuredData && <StructuredData type="blog" data={structuredData} />}
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
